@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.imageGrid{
    padding: 21px;
    background-color: teal;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.anImageThumbnail{
    padding: 5px;
    margin: 12px 21px;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.455);
    background-color: white;
    display: flex;
    flex-direction: column;
}

.thumbnailSub{
    width: 200px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 0.8em;
    text-align: end;
    margin: 6px 0px;
}

.imgControllers{
    display: flex;
    justify-content: space-between;
}
.disabledController{
    font-size: 3em;
    color: rgba(0, 0, 0, 0.319);
    padding: 0 35px;
    margin: 10px;
}

.controllerArrows{
    font-size: 3em;
    padding: 0 35px;
    margin: 10px;
    transition: all ease-in 0.3s;
}

.controllerArrows:hover{
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.455);
    cursor: pointer;
}

.imageDescriptionTxt{
    font-style: italic;
    margin: 3px 12px;
    font-size: 1.3em;
    font-weight: 300;
}

.imageLocationTxt{
    margin: 3px 12px;
    font-size: 0.7em;
    font-weight: 700;
    text-align: end;
}