.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingTitle{
    width: 99vw;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin: 12px 0;
}

.landingSubTitle{
  border-top: solid 4px teal;
  border-bottom: solid 4px teal;
  font-size: 1.3em;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 21px;
  padding-top: 15px;
  padding-bottom: 15px;

}

.extraControllers{
  width: 99vw;
  overflow-x: unset;
  min-height: 30px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  
}

.anAddOnController{
  width: 45%;
  color: white;

}

.InactiveControllerTab{
  min-height: 100px;
  background-color: rgb(76, 75, 83);
}

.ControllerTab{
  color: black;
  border: solid 3px rgb(228, 11, 145);
  width: fit-content;
  padding: 6px 15px;
}

.ControllerTab:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
}



@media (max-width: 600px) {

.landingSubTitle{
  width: 80%;
  margin-left: 10%;
}
}
