.landingTitle{
    width: 99vw;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin: 12px 0;
}

.IntroGenCont{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.LandingImg{
    width: 60%;
}

.logoAndIntro{
    margin-left: 15px;
    box-shadow: 6px 6px 7px black;
    }

.Fontlogo{
    width: 300px;
    margin-left: 6px;
}
.PinkLogo{
    width: 300px;
    margin-left: 6px;
}

.tourName{
    font-size: 2.3em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 21px;
    margin-left: 6px;
}

.appIntroContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.appTourTextCont{
    width: 60%;
    min-height: 120px;
}

.appIntroTitle{
    color: white;
    text-align: center;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 21px;
    margin-bottom: 21px;
}

.appIntroSubTitle{
    color: rgb(228, 11, 145);
    text-align: center;
    width: 50%;
    font-weight: 600;
    font-size: 1.3em;
    margin-left: 25%;
    margin-bottom: 21px;
}
.appIntroText{
    color: white;
    text-align: justify;
    width: 50%;
    font-weight: 300;
    font-size: 1.3em;
    margin-left: 25%;
    margin-bottom: 21px;
}

.appTourImage{
    width: 40%;
    display: flex;
    align-items: center;

}

.deviceIMG{
    width: 80%;
}

.sectionIntro{
    margin: 12px;
}


.packingListRowsORCols{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.packListColOne{
    width: 45%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
}

.PackListImage{
    padding: 12px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.36);
}

.PackListImage2{
    width: 60%;    
    padding: 12px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.36);
    margin-left: 33%;
    position: relative;
    transform: translateY(60px);
    z-index: 2;
    background-color: white;

}

.packListColTwo{
    width: 50%;
}

.PackListIntro{
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-style: italic;
    text-align: end;
}

.PackListSections{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

.aPackLsitSec{
    width: 45%;
    margin: 5px;
}

.aPackLsitSecTitle{
    font-size: 1.5em;
    font-weight: 700;
    margin: 9px;

}

.aPackListOptional{
    font-size: 0.7em;
    font-weight: 700;
    font-style: italic;
    margin-left: 21px;
    margin-bottom: 15px;
}

.aCheckbox{
    display: flex;
    align-items: center;
}
.aCheckboxLabel{
    text-transform: capitalize;
    margin: 4px;
}

.PLIcon{
    font-size: 2em;
    margin: 15px 15px;
}

.galMapDialogue{
    width: 80%;
    margin-left: 10%;
}

.mapDialSubtitle{
    text-align: end;
    font-style: italic;
    font-size: 1.3em;
    margin-right: 21px;
}

@media (max-width: 1000px) {
    .logoAndIntro{
        text-align: center;
        margin-top: 33px; 
        box-shadow: none;       
    }

    .Fontlogo{
        width: 190px;
    }
    .IntroGenCont{
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .LandingImg{
        width: 60%;
    }

    .PinkLogo{
        display: none;
    }

    .appIntroContainer{
        flex-direction: column;
    }

    .appTourTextCont{
        width: 100%;
    }

    .appIntroSubTitle{
        margin-left: 10%;
        width: 80%;
    }
    .appIntroText{
        margin-left: 5%;
        width: 90%;
    }    
    .appTourImage{
        width: 100%;
    }

    .deviceIMG{
        width: 90%;
    }

    .packingListRowsORCols{
        flex-direction: column;
    }
    .packListColOne{
        width: 97%;
    }
    .packListColTwo{
        width: 97%;
        padding-left: 21px;
        background-color: coral;
    }


}

@media (max-width: 600px) {
    .LandingImg{
        width: 100%;
    }


}