.landingTitle{
    width: 99vw;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin: 12px 0;
}

.IntroGenCont{
    height: 100vh;
    /* background-color: burlywood; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.LandingImg{
    width: 60%;
}

.logoAndIntro{margin-left: 15px;}

.Fontlogo{
    width: 300px;
    margin-left: 6px;
}
.PinkLogo{
    width: 300px;
    margin-left: 6px;
}

.tourName{
    font-size: 2.3em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 21px;
    margin-left: 6px;
}

.appIntroContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.appTourTextCont{
    width: 60%;
    min-height: 120px;
}

.appIntroTitle{
    color: white;
    text-align: center;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 21px;
    margin-bottom: 21px;
}

.appIntroSubTitle{
    color: rgb(228, 11, 145);
    text-align: center;
    width: 50%;
    font-weight: 600;
    font-size: 1.3em;
    margin-left: 25%;
    margin-bottom: 21px;
}
.appIntroText{
    color: white;
    text-align: justify;
    width: 50%;
    font-weight: 300;
    font-size: 1.3em;
    margin-left: 25%;
    margin-bottom: 21px;
}

.appTourImage{
    width: 40%;
}

.deviceIMG{
    width: 80%;
}

@media (max-width: 1000px) {
    .logoAndIntro{
    text-align: center;
    margin-bottom: 33px;        
    }

    .Fontlogo{
        width: 190px;
    }
    .IntroGenCont{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .LandingImg{
        width: 60%;
    }

    .PinkLogo{
        display: none;
    }

    .appIntroContainer{
        flex-direction: column;
    }

    .appTourTextCont{
        width: 100%;
    }

    .appIntroSubTitle{
        margin-left: 10%;
        width: 80%;
    }
    .appIntroText{
        margin-left: 5%;
        width: 90%;
    }    
    .appTourImage{
        width: 100%;
    }

    .deviceIMG{
        width: 90%;
    }
}

@media (max-width: 600px) {
    .LandingImg{
        width: 100%;
    }


}